/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
@media (max-width: 767px) {
  .navbar-brand {
    margin-left: 15px; }

  .navbar-default .navbar-collapse {
    width: 100%;
    margin: 0; }
    .navbar-default .navbar-collapse .btn {
      width: 100%; }
    .navbar-default .navbar-collapse .navbar-nav li {
      width: 100%;
      text-align: center; } }
.navbar-toggle {
  border: none; }

.heading-block {
  display: block;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px; }

.heading-block-color {
  background-color: #0386DA; }

.hero {
  background: url(../img/hero-shot.jpg) no-repeat center center;
  background-size: cover;
  margin-top: 100px;
  padding-top: 130px;
  padding-bottom: 130px; }
  .hero .h1, .hero .h2 {
    color: white; }

.showcase {
  background: url(../img/what-we-can-do.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px; }
  .showcase .showcase-section {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: inherit; }
    @media (min-width: 1200px) {
      .showcase .showcase-section {
        float: left;
        width: 33.33333%; } }
    @media (min-width: 992px) {
      .showcase .showcase-section {
        float: left;
        width: 33.33333%; } }
    @media (min-width: 768px) {
      .showcase .showcase-section {
        float: left;
        width: 33.33333%; } }
  .showcase .showcase-icon {
    height: 67.5px;
    background: url(../img/icon-services.png) no-repeat;
    background-size: auto 67.5px;
    display: inline-block;
    clear: both;
    text-align: center; }
    .showcase .showcase-icon.ico-nlp {
      width: 69px;
      background-position: 0 0; }
    .showcase .showcase-icon.ico-ml {
      width: 92px;
      background-position: -70px 0; }
    .showcase .showcase-icon.ico-dm {
      width: 124px;
      background-position: -163px 0; }
.a{
      list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.lets-talk {
  margin-top: 19px; }

.projects {
  padding: 0; }

.carousel .controls {
  z-index: 4; }
.carousel .carousel-section {
  color: white;
  padding-top: 100px;
  padding-bottom: 120px; }
  .carousel .carousel-section h3, .carousel .carousel-section p, .carousel .carousel-section p + a, .carousel .carousel-section h4 {
    z-index: 2;
    position: relative; }
  .carousel .carousel-section p {
    width: 60%;
    margin: auto auto;
    margin-bottom: 15px;
    font-size: 1.2em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .carousel .carousel-section.active {
    display: block;
    opacity: 1; }
  .carousel .carousel-section .bg {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    z-index: 1; }
    .carousel .carousel-section .bg.bg-textteaser {
      background: url(../img/bg-textteaser.jpg) no-repeat center center;
      background-size: cover; }
    .carousel .carousel-section .bg.bg-earthquakemap {
      background: url(../img/bg-earthquakemap.jpg) no-repeat center center;
      background-size: cover; }
    .carousel .carousel-section .bg.bg-halalan {
      background: url(../img/bg-halalan.jpg) no-repeat center center;
      background-size: cover; }
    .carousel .carousel-section .bg.bg-minibalita {
      background: url(../img/bg-minibalita.jpg) no-repeat center center;
      background-size: cover; }
.carousel .carousel-nav {
  z-index: 5;
  margin-bottom: 50px;
  margin-top: -70px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 3; }
  .carousel .carousel-nav > li {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 2px solid rgba(0, 153, 255, 0.7);
    background-color: #33adff;
    margin: 0 10px;
    display: inline-block;
    position: relative;
    z-index: 3;
    content: "";
    -webkit-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
    -khtml-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
    -moz-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
    -ms-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
    -o-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
    transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98); }
    .carousel .carousel-nav > li:hover {
      cursor: pointer;
      background-color: #BAE3F9;
      -webkit-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -khtml-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -moz-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -ms-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -o-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98); }
    .carousel .carousel-nav > li.active {
      background-color: #FF9D05;
      -webkit-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -khtml-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -moz-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -ms-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -o-transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      transition: background-color 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98); }

.owl-pagination {
  margin-top: -60px;
  z-index: 50;
  position: relative; }
  .owl-pagination .owl-page {
    display: inline-block;
    zoom: 1; }
    .owl-pagination .owl-page.active > span {
      content: ".";
      background-color: #ffff33; }
    .owl-pagination .owl-page > span {
      display: block;
      width: 12px;
      height: 12px;
      margin: 5px 7px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: #0099ff; }

.story-text {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 1200px) {
    .story-text {
      float: left;
      width: 58.33333%; } }
  @media (min-width: 992px) {
    .story-text {
      float: left;
      width: 58.33333%; } }

.story-people {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 1200px) {
    .story-people {
      float: left;
      width: 41.66667%; } }
  @media (min-width: 992px) {
    .story-people {
      float: left;
      width: 41.66667%; } }
  .story-people ul {
    margin-top: 50px; }
  .story-people .avatar {
    position: relative;
    overflow: hidden; }
    .story-people .avatar .links {
      color: white;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto auto;
      border-radius: 150px;
      background-color: rgba(11, 193, 247, 0.8);
      z-index: 2;
      -webkit-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -khtml-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -moz-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -ms-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -o-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98); }
      .story-people .avatar .links .buttons {
        display: block;
        margin-top: 50px; }
        .story-people .avatar .links .buttons .btn {
          background-color: transparent;
          text-align: center;
          width: 60px;
          height: 60px;
          text-align: center;
          border-radius: 60px;
          padding-top: 14px; }
          .story-people .avatar .links .buttons .btn:hover {
            color: #0099ff;
            background-color: rgba(255, 255, 255, 0.9); }
    .story-people .avatar:hover .links {
      cursor: pointer;
      opacity: 1;
      -webkit-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -khtml-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -moz-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -ms-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -o-transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      transition: opacity 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98); }
    .story-people .avatar img {
      z-index: 1; }
  @media (min-width: 992px) {
    .story-people ul > li {
      display: block;
      float: left;
      text-align: center; }
      .story-people ul > li > img {
        display: inline-block;
        width: 150px;
        height: 150px; }
      .story-people ul > li.avatar .links {
        width: 150px;
        height: 150px; }
      .story-people ul > li.avatar:first-child + .avatar {
        margin-top: 80px; }
      .story-people ul > li.avatar:first-child + .avatar + .avatar {
        margin-top: -50px;
        clear: both; } }
  @media (max-width: 991px) {
    .story-people ul > li {
      display: inline-block;
      position: relative;
      min-height: 1px;
      float: left;
      text-align: center;
      width: 33.33333%; }
      .story-people ul > li > img {
        margin: auto auto;
        width: 60%;
        height: 60%; }
      .story-people ul > li.avatar > .links {
        width: 60%;
        height: inherit;
        border-radius: 100%; } }

.textured {
  background: url(../img/shattered.png) center center;
  background-repeat: repeat;
  padding-top: 50px;
  padding-bottom: 50px; }

.reach-us {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0099ff;
  color: white; }
  .reach-us ul > li {
    margin-bottom: 15px; }
    .reach-us ul > li i, .reach-us ul > li a {
      color: inherit;
      padding-top: 5px;
      padding-bottom: 5px;
      -webkit-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -khtml-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -moz-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -ms-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -o-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98); }
    .reach-us ul > li a:hover {
      border-bottom: 2px solid white;
      -webkit-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -khtml-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -moz-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -ms-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      -o-transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98);
      transition: border 0.3s cubic-bezier(0.26, 0.51, 0.34, 0.98); }

/*# sourceMappingURL=main.css.map */
